body {
    background: black;
    height: 100%;
    margin: 0%;
}

.post{
background: white;
width: 350px;
height: 700px;
margin: 50px auto;
}

.post-img{
    display: flex;
    justify-content: center;
}
.post-title{
    display: flex;
    justify-content: center;
    align-items: center;
}